.app-container {
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.app-header-text {
  outline: 2px dashed red;
  margin: 75px;
}

.app-centered-flex {
  background-color: white;
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide img {
  width: 1000px;
  height: 500px;
}

.app-welcome-box {
  outline: 2px dashed red;
  display: flex;
  width: 1000px;
  height: 200px;
  margin-top: 100px;
}

.app-welcome-textbox {
  width: 300px;
}

.welcome-text {
  font-size: 24px;
  font-family: gotham_bookregular !important;
  font-weight: 600;
  color: #605e5e;
}

.app-welcome-companyText {
  font-family: gotham_lightregular !important;
  margin-top: 0px;
  color: #8b0000;
  font-weight: 200;
  font-size: 50px;
  line-height: 52px;
}

.app-welcome-descriptionbox {
  border-left: 2.5px #ebecec solid;
}

.welcome-description {
  color: #687078;
  font-size: 18px;
  font-family: gotham_bookregular;
  font-weight: 400;
}

.app-welcome-paragraphbox {
  padding: 10px;
}

.homepageText {
  text-align: center;
  font-size: 50px;
  font-family: gotham_bookregular !important;
  font-weight: 600;
  color: #c7c7c7;
  border-bottom: 2.5px #8b0000 solid;
}
